*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    
    font-family: 'Roboto', sans-serif;
 
}

#root{
    overflow: hidden;

}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    width: 100%;
    height: 100px;
    background-color: #1C1D25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: relative;
 
}

.logo {
    width: 48px;


}


.menu-burger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;

}

.menu-burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transform-origin: 0 100%;
    transition: all 300ms;
    pointer-events: none;

}


.line1__menuActivate {
    transform: rotate(45deg) translate(-2px, 1px);
}

.line2__menuActivate {
    opacity: 0;
    margin-left: -30px;
}

.line3__menuActivate {
    transform: rotate(-45deg) translate(-4px, 2px);
    
}


.nav-menu{
    width: 60vw;
    height: 100vh;
    background-color: #23319e;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    padding: 120px 0 50px 0;
    transform: translateX(60vw);
    transition: all 500ms;
    visibility: hidden;
}
.nav-menu ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.nav-menu li{
    width: 100%;
    cursor: pointer;
    flex-grow: 1;
    transition: all 500ms;
   
}
.nav-menu li a{
    color: white;
}

.mov-left{
    visibility: visible;
    transform: translateX(0vw);

  
}

.about{
    background-color: #1C1D25;  
    width: 100%;
    height: calc(100vh - 100px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.section-container{
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 30px;
    left: 0;
}
.name{
    font-size: 48px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 20px;
}
.c1{
    /*color: rgb(142, 49, 247);*/
    color: rgb(172, 255, 90);
}

.sobremi{
    color: #b0b2c3;
    letter-spacing: 1px;
}
.icons ul{
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.icons img{
    width: 36px;

    
}
/*esto es para quitar*/
main > section{
    width: 100%;
    height: 100vh;

}


@media (min-width: 800px) {
    header{
        height: 100px;
       
    }
    .menu-burger{
        display: none;
    }
    .nav-menu{
        padding-top: 0;
        position: relative;
        visibility: visible;
   
        height: auto;
        text-align: left;
        background-color: #1C1D25;
        transition: none;
        z-index: 1;
        transform:none;
        padding: 0;
        
       
    }
    
    .nav-menu ul{

        width:100%;
        flex-direction: row;
        padding: 0;
    }
    .nav-menu li a{
        letter-spacing: 2px;
    }
    .nav-menu li{
 
        padding: 0 30px;
    }
    
    .nav-menu li span{
        display: block;
        width: 80%;
        height: 5px;
        background-color:rgb(172, 255, 90);
    
        transform-origin: left 100%;
        transform: scaleX(0);
        transition: all 500ms ease;

    }
    
    .nav-menu li:hover > span {
        transform: scaleX(1);

    }
   
}